* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
	height: 120px;
    background-color: #AA3A3A;
	display: flex;
	align-items: center;
}

.topo #logo{
	margin-top: 20px;
	margin-left: 50px;
}

/* BARRA DE BUSCA */
form{
	border: 1px solid whitesmoke;
	border-radius: 0.3em;
	padding: 0.3em;
	margin-left: 15%;
}

form input{
	font-size: 15px;
	border-radius: 0.2em;
    text-align: center;
	border: none;
}

form img{
	height: 13px;
}

/* -------------------- */

.topo-menu{
    gap: 32px;
	margin: auto;
    display: inline-flex;
}

.menu {
    font-family: 'oxygen';
    color: #ffffff;
    font-size: 18px;
	list-style: none;
	text-decoration: none;
}

.sub-topo{
	padding-top: 5px;
	height: 50px;
    background-color: #EDECE9;
}

.sub-topo a {
    font-family: 'oxygen';
    color: #AA3A3A;
    font-size: 20px;
	margin-left: 10%;
	text-decoration: none;
	margin-left: 30%;
}

.banner img{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}

/* ABA BIBLIA */

.titulo-biblia a {
    font-family: 'oxygen';
    color: #AA3A3A;
    font-size: 25px;
	margin-left: 10%;
}

.titulo-biblia p{
	margin-left: 13%;
	margin-top: 15px;
    width: 75%;
    color: #000;
    font-family: 'oxygen regular';
}

.imagens-biblia{
	margin-left: 10%;
	margin-top: 10px;
	width: 80%;
	height: 350px;
}

.card-biblia {
	width: 33.33%;  
	float: left;
}

.card-biblia img {
	width: 50%;  
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-biblia p {
	text-align: center;
    font-size: 14px;
    font-family: 'Overlock';
	color: #000;
	opacity: 70%;
}

.card-biblia h3 {
	text-align: center;
    font-size: 20px;
    font-family: 'Overlock';
	color: #aa3a3a;
}
/* -------------------- */

/* ABA LIVROS */

.titulo-livro a {
    font-family: 'oxygen';
    color: #AA3A3A;
    font-size: 25px;
	margin-left: 10%;
} 

.titulo-livro p{
	margin-left: 13%;
	margin-top: 15px;
    width: 75%;
    color: #000;
    font-family: 'oxygen regular';
}

.imagens-livro { 
	margin-left: 10%;
	margin-top: 10px;
	width: 80%;
	height: 350px;
}

.card-livro {
	width: 33.33%;  
	float: left;
}

.card-livro img {
	width: 50%;  
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-livro p {
	text-align: center;
    font-size: 14px;
    font-family: 'Overlock';
	color: #000;
	opacity: 70%;
}

.card-livro h3 {
	text-align: center;
    font-size: 20px;
    font-family: 'Overlock';
	color: #aa3a3a;
}
/* -------------------- */

/* VEJA MAIS */

.veja-mais ul{
	list-style: none;
}

.veja-mais ul li a{
	text-align: center;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 30px;
	width: 100%;
	text-decoration: none;
	color: #A4B787;
	font-family: 'oxygen regular';
	font-size: 20px;
}
/* -------------------- */

/* VOLTAR TOPO */

.voltar-topo img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 60px;
    padding-top: 40px;
}

/* -------------------- */

/* RODAPE */

.rodape{
	height: 60px;
    background-color: #AA3A3A;
	padding-top: 20px;
}

.inf-rodape {
    font-family: 'oxygen';
    color: #ffffff;
    font-size: 20px;
	list-style: none;
	text-decoration: none;
	margin-left: 80px;
}

.rodape img {
    float: right;
    margin-right: 100px;
    height: 40px;
    margin-top: -7px;
}
/* -------------------- */

/* RESPONSIVIDADE */

@media screen and (min-width: 300px) and (max-width: 1024px) {
	.topo #logo{
		margin-left: 20px;
		height: 50px;
		margin-top: 10px;
	}

	.sub-topo a{
		font-size: 15px;
	}

	form{
		border: 1px solid whitesmoke;
		border-radius: 0.3em;
		padding: 0.3em;
		margin-left: 1%;
	}
	
	form input{
		font-size: 10px;
		border-radius: 0.2em;
		text-align: center;
		border: none;
	}
	
	form img{
		height: 10px;
	}

	.topo-menu{
		gap: 10px;
		margin: auto;
		display: grid;	
	}

	.menu {
		font-size: 14px;
	}

	.titulo-biblia a {
		font-size: 20px;
	} 

	.card-biblia {
		width: 70%;
	}

	.card-biblia p {
		font-size: 12px;
	} 

	.titulo-biblia p{
		font-size: 14px;
	}
	
	.titulo-livro a {
		font-size: 20px;
	} 

	.card-livro {
		width: 70%;
	}

	.card-livro p {
		font-size: 12px;
	}

	.titulo-livro p{
		font-size: 14px;
	} 

	.rodape{
		height: 50px;
	}

	.inf-rodape {
		font-size: 15px;
		margin-left: 30px;	
	}	

	.rodape img {
		height: 30px;
   		margin-top: -10px;	
	}

}